<header class="site-header">


    <div class="navbar-fixed">    
      <nav>
        <div class="nav-wrapper brown">
          <a class="brand-logo center white-text" href="{{ site.baseurl }}/">{{ site.title }}</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for page in site.pages %}
              {% if page.title %}
                <li><a class="page-link white-text" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
              {% for page in site.pages %}
              {% if page.title %}
                <li><a class="page-link white-text" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <a class="button-collapse" href="#" data-activates="nav-mobile">
            <i class="mdi-navigation-menu"></i>            
          </a>
        </div>
      </nav>
    </div>


</header>
